<html>
  <head>
    <title>About page</title>
    <link rel="stylesheet" href="/css/styles.css" />

  </head>
  <body>
    {{>header}}
    <img src="/img/pp-1.png" />
    {{>footer}}
  </body>
</html>